<div
  class="text-foreground group/body overscroll-none font-sans antialiased [--footer-height:calc(var(--spacing)*14)] [--header-height:calc(var(--spacing)*14)]">
  <div class="bg-background">
    <div style="--sidebar-width:16rem;--sidebar-width-icon:3rem"
         class="group/sidebar-wrapper has-data-[variant=inset]:bg-sidebar flex min-h-svh w-full ">
      @if (!isSmallScreen()) {
        <div class="group peer text-sidebar-foreground hidden md:block"
             [attr.data-state]="sidebarMenuOpen() ? 'expanded' :'collapsed'"
             [attr.data-collapsible]="sidebarMenuOpen() ?  null: 'icon'"
             data-variant="sidebar" data-side="left">
          <div
            class="relative w-(--sidebar-width) bg-transparent transition-[width] duration-200 ease-linear group-data-[collapsible=offcanvas]:w-0 group-data-[side=right]:rotate-180 group-data-[collapsible=icon]:w-(--sidebar-width-icon)"></div>
          <div
            class="fixed inset-y-0 z-10 hidden h-svh w-(--sidebar-width) transition-[left,right,width] duration-200 ease-linear md:flex left-0 group-data-[collapsible=offcanvas]:left-[calc(var(--sidebar-width)*-1)] group-data-[collapsible=icon]:w-(--sidebar-width-icon) group-data-[side=left]:border-r group-data-[side=right]:border-l">
            <div data-sidebar="sidebar"
                 class="bg-sidebar group-data-[variant=floating]:border-sidebar-border flex h-full w-full flex-col group-data-[variant=floating]:rounded-lg group-data-[variant=floating]:border group-data-[variant=floating]:shadow-sm">
              <ng-container *ngTemplateOutlet="sidebarContent" />
            </div>
          </div>
        </div>
      }
      <main
        class="bg-background relative flex w-full flex-1 flex-col md:peer-data-[variant=inset]:m-2 md:peer-data-[variant=inset]:ml-0 md:peer-data-[variant=inset]:rounded-xl md:peer-data-[variant=inset]:shadow-sm md:peer-data-[variant=inset]:peer-data-[state=collapsed]:ml-2">
        <header
          class="flex h-16 shrink-0 items-center gap-2 transition-[width,height] ease-linear group-has-data-[collapsible=icon]/sidebar-wrapper:h-12">
          <div class="flex items-center gap-2 px-4">
            <button
              (click)="toggleSidebarMenu()"
              class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 size-7 -ml-1"
              data-sidebar="trigger">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="lucide lucide-panel-left">
                <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                <path d="M9 3v18"></path>
              </svg>
              <span class="sr-only">Toggle Sidebar</span></button>
            <div data-orientation="vertical" role="none"
                 class="bg-border shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:w-px mr-2 data-[orientation=vertical]:h-4"></div>
            <nav aria-label="breadcrumb">
              <ol
                class="text-muted-foreground flex flex-wrap items-center gap-1.5 text-sm break-words sm:gap-2.5">
                <li class="items-center gap-1.5 hidden md:block"><a
                  class="hover:text-foreground transition-colors" href="#">Building Your
                  Application</a></li>
                <li role="presentation" aria-hidden="true"
                    class="[&>svg]:size-3.5 hidden md:block">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                       stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="lucide lucide-chevron-right">
                    <path d="m9 18 6-6-6-6"></path>
                  </svg>
                </li>
                <li class="inline-flex items-center gap-1.5"><span

                  role="link"
                  aria-disabled="true"
                  aria-current="page"
                  class="text-foreground font-normal">Data Fetching {{ isSmallScreen() }}</span>
                </li>
              </ol>
            </nav>
          </div>
        </header>
        <div class="flex flex-1 flex-col gap-4 p-4 pt-0">
          <ng-content></ng-content>
        </div>
      </main>
    </div>
  </div>

</div>

@if (showMobileSidebar()) {
  <div [attr.data-state]="mobileSidebarMenuOpen() ? 'open':'closed'" (click)="toggleSidebarMenu()"
       class="data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 fixed inset-0 z-50 bg-black/50 data-[state=closed]:duration-300 data-[state=open]:duration-500"
       style="pointer-events: auto;" data-aria-hidden="true" aria-hidden="true"></div>
  <div role="dialog" #d
       [attr.data-state]="mobileSidebarMenuOpen() ? 'open':'closed'"
       (animationend)="removeSidebarWhenClosed()"
       class="data-[state=open]:animate-in data-[state=closed]:animate-out fixed z-50 flex flex-col gap-4 shadow-lg transition ease-in-out data-[state=closed]:duration-300 data-[state=open]:duration-500 data-[state=closed]:slide-out-to-left data-[state=open]:slide-in-from-left inset-y-0 left-0 h-full border-r sm:max-w-sm bg-sidebar text-sidebar-foreground w-(--sidebar-width) p-0 [&>button]:hidden"
       data-sidebar="sidebar" data-mobile="true" tabindex="-1" style="--sidebar-width: 18rem; pointer-events: auto;">
    <div class="flex h-full w-full flex-col">
      <ng-container *ngTemplateOutlet="sidebarContent" />

    </div>
    <button type="button"
            class="ring-offset-background focus:ring-ring data-[state=open]:bg-secondary absolute top-4 right-4 rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:ring-offset-2 focus:outline-hidden disabled:pointer-events-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor"
           stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x size-4">
        <path d="M18 6 6 18"></path>
        <path d="m6 6 12 12"></path>
      </svg>
      <span class="sr-only">Close</span></button>
  </div>
}


<ng-template #sidebarContent>

  <div data-sidebar="header" class="flex flex-col gap-2 p-2">
    <ul data-sidebar="menu" class="flex w-full min-w-0 flex-col gap-1">
      <li data-sidebar="menu-item" class="group/menu-item relative">
        <a data-sidebar="menu-button" data-size="lg" appSidebarMenuItem link="/" [activeOptions]="{exact:true}">
          <div
            class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-gallery-vertical-end size-4 srink-0">
              <path d="M7 2h10"></path>
              <path d="M5 6h14"></path>
              <rect width="18" height="12" x="3" y="10" rx="2"></rect>
            </svg>
          </div>
          <div class="grid flex-1 text-left text-sm leading-tight"><span
            class="truncate font-medium">Mistria Guide</span><span
            class="truncate text-xs">Game v0.0.0 - App v0.0.0</span></div>
        </a>
      </li>
    </ul>
  </div>
  <div data-sidebar="content"
       class="flex min-h-0 flex-1 flex-col gap-2 overflow-auto group-data-[collapsible=icon]:overflow-hidden">
    <div data-sidebar="group" class="relative flex w-full min-w-0 flex-col p-2">
      <div data-sidebar="group-label"
           class="text-sidebar-foreground/70 ring-sidebar-ring flex h-8 shrink-0 items-center rounded-md px-2 text-xs font-medium outline-hidden transition-[margin,opacity] duration-200 ease-linear focus-visible:ring-2 [&>svg]:size-4 [&>svg]:shrink-0 group-data-[collapsible=icon]:-mt-8 group-data-[collapsible=icon]:opacity-0">
        Platform
      </div>
      <ul data-sidebar="menu" class="flex w-full min-w-0 flex-col gap-1">
        <li data-sidebar="menu-item"
            class="group/menu-item relative group/collapsible"
            data-state="closed">
          <a appSidebarMenuItem link="/item/acorn">
            <app-sprite name="spr_ui_item_acorn" class="scale-150 shrink-0" />
            <span>Acorn</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
