<div class="flex flex-col items-center justify-center">
  <brn-hover-card>
    <a brnHoverCardTrigger align="top" class="h-11 w-11 p-1.5 flex justify-center items-center"
       [routerLink]="['/item', item().id]">
      <app-sprite class="scale-200" [name]="item().icon_sprite" />
    </a>
    <hlm-hover-card-content *brnHoverCardContent>
      <app-item-hover-card-content [itemId]="item()" />
    </hlm-hover-card-content>
  </brn-hover-card>
  <div class="w-full border-t"></div>
  <hlm-checkbox [checked]="!!checked()" (changed)="checkboxChanged.emit($event)" class="my-2"></hlm-checkbox>
</div>

